* {margin:0px; padding:0px; font-family:sans-serif;}
body {background:white;}
header {background-image: url(img1.jpg); color:#FFF; text-align:center; height:150px; position: inherit;}
h1 {
	font-family: cursive;
	font-style: italic;
	font-size: 50px;
	color:white;
	background:black;
	position:absolute;
	top: 30px;
	width: 20%;
	margin-left: 40%;
	border-radius: 20px;
}
nav {height:1100px;}
#logo {width:50%; height:110px; margin:10px; margin-left:25%; border: #333 2px dotted; border-radius: 20px;}
#menu {background:black; text-align:left; list-style:none; width:20%; padding:5px;}
.lisMen {color:#FFF; padding:7px;}
#menu li:hover {background:#333; font-size:19px; font-weight:bold; border-radius: 15px;}
a {text-decoration:none;}
article {width:70%; float:right; margin:5%; margin-top: 30px;}
h2 {padding-left:15px; font-family:Tahoma,Geneva,sans-serif; color:#333; font-size: 30px;}
hr {border: 2px solid #333; margin-top: 20px; margin-bottom: 10px; border-radius: 5px;}
p {text-align:justify; padding: 12px; color:#333;}
.p1 {float: left; width: 75%;}
.cafeto {border-radius: 20px; float: right; width: 20%; height: auto; padding: 5px;}
#img3 {border-radius: 20px; width: 24%; height: auto; margin-left: 38%; margin-top: 30px; border: 10px double #333;}
.capital {float:left; color:black; background:white; border:0px solid #999999; font-size:40px; line-height:30px; padding:2px; font-family:times; margin-right: 5px;}
footer {background:#333; color:white; text-align:right; padding-top:10px; padding-bottom: 10px; position:static; bottom:0; width:100%; height:50px;}
.lisRedes li {display:inline-block; list-style: none; float: left;}
.redes {width: 50px; height: 50px; margin-left: 20px;}
.redes:hover {background: white; border-radius: 50px;}
footer p {float: right; color: white; padding: 16px;}
